:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  /* background-color: rgba(148, 196, 250, 0.377); */
  /* color: transparent; */
  background-image: url(./assets/images/office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* h1 {
  font-size: 21px;
  line-height: 1.1;
  letter-spacing: 0.25em;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  margin: 5px auto 4px;
  border-radius: 4px;
  border: 2px solid rgba(88, 88, 88, 0.562);
  /* border-right: 3px solid rgba(0, 0, 0, 0.9); */
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.9); */
  padding: 2px;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  /* box-shadow: 1px 1px 0 rgb(176, 176, 176); */
}
button:hover {
  border-color: #1e27d4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Загальні стилі для форми */

/* Стилі для кожного блоку з полем */
/* form div {
  margin-bottom: 12px;
} */

/* Стилі для міток (label) */
/* form label {
  font-weight: bold;
  margin: 2px;
  display: inline-block;
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
} */

/* Стилі для полів вводу */
/* form > input {
  width: 100%;
  padding: 1px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* Стилі для повідомлень про помилки */
form span {
  color: rgb(255, 238, 0);
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

/* p {
  margin: 2px auto;
  font-size: 12px;
  font-weight: bold;
  color: #333;
} */

/* input {
  padding: 1px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

a {
  margin-top: 5px;
  padding: 25px auto;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

li > div {
  display: flex;
  align-items: baseline;
  border: 2px solid #45a049;
  border-radius: 8px;
  /* box-shadow: 2px 2px 0 rgba(175, 175, 175, 0.5); */

  margin: 0 auto 15px;
  padding: 1px 2px;
}

ul > li > div {
  margin: 5px auto 0;
}

li > div > div {
  margin-right: 5px;
}

/*  top: '11.1vh',
          left: '43.4%',
          transform: 'translateX(-50%)', */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #effce2b6;
  }
}
